@import "tailwindcss";

@theme inline {
  --color-background: #030712;
  --color-shade1: #111827;
  --color-shade2: #1F2937;
  --color-border: #374151;
  --color-primary: #09D334;

  --font-ashkal: var(--font-ashkal);
  --font-tajawal: var(--font-tajawal);
}

body {
  background: var(--color-background);
  color: white;
}